image:
  repository: ecommerce-lite
  tag: "local"
  pullPolicy: IfNotPresent


imagePullSecrets:
  - name: ghcr-secret


replicaCount: 1

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

resources: {}

serviceMonitor:
  enabled: true
  interval: 30s
  scrapeTimeout: 10s
  releaseLabel: kube-prometheus-stack

metrics:
  path: /metrics

grafanaDashboard:
  enabled: true

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 1Gi
  storageClass: ""
  mountPath: /app/data
  existingClaim: ""
