image:
  repository: ghcr.io/norman0554/ecommerce-lite
  tag: "1.0.0"
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: ghcr-secret


replicaCount: 1

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

resources: {}

serviceMonitor:
  enabled: true
  interval: 30s
  scrapeTimeout: 10s

metrics:
  path: /metrics

grafanaDashboard:
  enabled: true
